<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yotpo>
            <settings>
                <debug_mode_active>1</debug_mode_active>
            </settings>
        </yotpo>
        <yotpo_core>
            <settings>
                <active>0</active>
            </settings>
            <env>
                <yotpo_api_url>https://api.yotpo.com/core/v3/stores/{store_id}/</yotpo_api_url>
                <yotpo_api_url_messaging>https://api.yotpo.com/messaging/v3/stores/{store_id}/</yotpo_api_url_messaging>
                <yotpo_api_v1_url>https://api.yotpo.com/</yotpo_api_v1_url>
                <yotpo_widget_url>//staticw2.yotpo.com/</yotpo_widget_url>
                <yotpo_api_url_access_tokens>access_tokens</yotpo_api_url_access_tokens>
            </env>
            <sync_settings>
                <orders_sync>
                    <enable>1</enable>
                    <enable_real_time_sync>0</enable_real_time_sync>
                    <orders_sync_limit>100</orders_sync_limit>
                    <frequency>*/2 * * * *</frequency>
                    <order_status>
                        <map_order_status>
                            {"_1_1":{"store_order_status":"pending","yotpo_order_status":"pending"},
                            "_1_2":{"store_order_status":"processing","yotpo_order_status":"pending"},
                            "_1_3":{"store_order_status":"complete","yotpo_order_status":"success"},
                            "_1_4":{"store_order_status":"closed","yotpo_order_status":"cancelled"},
                            "_1_5":{"store_order_status":"canceled","yotpo_order_status":"cancelled"}}
                        </map_order_status>
                    </order_status>
                    <shipments>
                        <map_shipment_status>
                            {"_1_1":{"yotpo_shipment_status":"out_for_delivery","store_shipment_status":""}}
                        </map_shipment_status>
                    </shipments>
                </orders_sync>
                <catalog_sync>
                    <frequency>*/2 * * * *</frequency>
                    <sync_limit_collections>10</sync_limit_collections>
                    <product_sync_limit>100</product_sync_limit>
                </catalog_sync>
            </sync_settings>
        </yotpo_core>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
        <crontab>
            <yotpo_core_orders_sync>
                <jobs>
                    <yotpo_cron_core_orders_sync>
                        <schedule>
                            <cron_expr>*/2 * * * *</cron_expr>
                        </schedule>
                    </yotpo_cron_core_orders_sync>
                </jobs>
            </yotpo_core_orders_sync>
            <yotpo_core_catalog_sync>
                <jobs>
                    <yotpo_cron_core_products_sync>
                        <schedule>
                            <cron_expr>*/2 * * * *</cron_expr>
                        </schedule>
                    </yotpo_cron_core_products_sync>
                    <yotpo_cron_core_category_sync>
                        <schedule>
                            <cron_expr>*/2 * * * *</cron_expr>
                        </schedule>
                    </yotpo_cron_core_category_sync>
                </jobs>
            </yotpo_core_catalog_sync>
        </crontab>
    </default>
</config>
