<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="update_yotpo_sync_attribute"
                  instance="Yotpo\Core\Observer\Product\SaveBefore"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="update_yotpo_sync_attribute"
                  instance="Yotpo\Core\Observer\Product\SaveAfter"/>
    </event>
    <event name="catalog_product_import_bunch_save_after">
        <observer name="update_yotpo_sync_attribute_on_import"
                  instance="Yotpo\Core\Observer\Product\SaveImportAfter"/>
    </event>
    <event name="catalog_product_delete_after">
        <observer name="yotpo_product_delete_event"
                  instance="Yotpo\Core\Observer\Product\DeleteAfter" />
    </event>
    <event name="catalog_product_delete_before">
        <observer name="yotpo_product_delete_before_event"
                  instance="Yotpo\Core\Observer\Product\DeleteBefore" />
    </event>
    <event name="sales_order_payment_save_after">
        <observer name="yotpo_core_sales_order_payment_save_after"
                  instance="Yotpo\Core\Observer\Order\SalesOrderPaymentSaveAfter" />
    </event>
    <event name="admin_sales_order_address_update">
        <observer name="yotpo_core_admin_sales_order_address_update"
                  instance="Yotpo\Core\Observer\Order\AdminSalesOrderAddressUpdate" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="yotpo_core_category_save"
                  instance="Yotpo\Core\Observer\Category\SaveAfter" />
    </event>
    <event name="catalog_category_delete_after">
        <observer name="yotpo_core_category_delete"
                  instance="Yotpo\Core\Observer\Category\DeleteAfter" />
    </event>
    <event name="catalog_category_save_before">
        <observer name="yotpo_core_category_save_before"
                  instance="Yotpo\Core\Observer\Category\SaveBefore" />
    </event>
</config>
